<div style="width: 100%;margin: 1vmax auto;">
	<form name="myForm" style="width: 50%;margin: auto;text-align: center;">
		<p class="form-group" style="display: block;margin: auto">
			<label>Name</label>
			<input style="background-color: white;width:80%;margin:auto;" type="text" ng-model="name" class="form-control" required>
		</p>
		
	</form>
	<div ng-click="submitForm()" style="width: 30%;margin:1vmax auto;text-align: center;border:1px solid black;cursor: pointer; cursor: hand;">
      <p style="margin: 1vmax;">Submit</p>
    </div>
	
</div>
