<div style="width: 100%;margin: 1vmax auto;">
	<form name="myForm" style="width: 50%;margin: auto;text-align: center;">
		<p class="form-group" style="display: block;margin: auto">
			<label>Title</label>
			<input style="background-color: white;width:80%;margin:auto;" type="text" ng-model="title" class="form-control" required>
		</p>
		<p class="form-group" style="display: block;margin: auto">
			<label>Rating</label>
			<input style="background-color: white;width:80%;margin:auto;" type="number" class="form-control" required  ng-model="rating" />
		</p>
		<p class="form-group" style="display: block;margin: auto">
			<label>Genre</label>
			<input style="background-color: white;width:80%;margin:auto;" type="text" class="form-control" required  ng-model="genre" />
		</p>
		
	</form>
	<div ng-click="submitForm()" style="width: 30%;margin:1vmax auto;text-align: center;border:1px solid black;cursor: pointer; cursor: hand;">
      <p style="margin: 1vmax;">Submit</p>
      <p>Every post request for tracks and for single track is failing saying the syntax for request is not right.</p>
    </div>
	
</div>
