<section style="margin:2vmax;">
  <div style="width:40%;margin:.5vmax auto;text-align: center;border: 1px solid black" >
    <input type="" style="width: 90%; padding:.5vmax;display: inline-block;" placeholder="Search" name="search" ng-model="searchTrack" ng-keyup="newSearch()">
    <div style="display: inline-block;width: 9%" ng-click="clearSearch()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
  </div> 
  <div style="width:40%;margin:auto;text-align: center;border: 1px solid black" >
    <!-- <div>
      {{track.title}}  
    </div> -->
    <my-track ng-repeat="track in tracks" style="cursor: pointer; cursor: hand;" ng-click="directTrack(track)"></my-track>
  </div>  
  <div ng-click="go('/addTrack')" style="width: 30%;margin:1vmax auto;text-align: center;border:1px solid black;cursor: pointer; cursor: hand;">
      <p style="margin: 1vmax;">Add New Track</p>
  </div>
  <div style="width:30%;margin:1vmax auto;">
        <!-- <div style="width: 35%;display: inline-block;">
            
        </div> -->
        <div ng-click="oldPage()" style="width:32%;display: inline-block;background-color: white;text-align: center;cursor: pointer; cursor: hand;">
          <p ng-if="prevPageId>0">Page {{prevPageId}}</p>  
        </div>
        <div style="width:32%;display: inline-block;background-color: #EAEDF2;text-align: center;border:1px solid black;cursor: pointer; cursor: hand;">
            <p>Page {{currentPageId}}</p>
        </div>
        <div ng-click="newPage()" style="width:32%;display: inline-block;background-color: white;text-align: center;cursor: pointer; cursor: hand;">
            <p ng-if="nextUrl!=null">Page {{nextPageId}}</p>
        </div>
        <!-- <div style="width: 35%;display: inline-block;">
            
        </div> -->
  </div>
</section>



